/* General styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  overflow: hidden;
}

.fullpage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 6em;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
}

a {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  color: #FFF;
}

/* Hamburger menu styles */

.topmenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 25px;
  margin:35px 35px 0 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hamburger span {
  background: #fff;
  display: block;
  position: absolute;
  left:0;
  height: 3px;
  width: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 24px;
}

.hamburger.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;

}

.hamburger.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 900;
  -webkit-transition: visibility 0.5s ease, opacity 1s ease;
  -moz-transition: visibility 0.5s ease, opacity 1s ease;
  -o-transition: visibility 0.5s ease, opacity 1s ease;
  transition: visibility 0.5s ease, opacity 1s ease;
}

.menu-overlay.open {
  opacity: 0.9;
  visibility: visible;
}

.nav {
  padding:0;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style:none;
  color:#fff;
  vertical-align: middle;
}

.nav li {
  margin: 20px auto;
  opacity: 0;
  overflow: hidden;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.open .nav li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.8;
}

.open .nav li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.open .nav li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.open .nav li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.open .nav li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}

.open .nav li a {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.open .nav li a:hover{
  opacity: 1;
}

.open .nav li a:last-child {
  margin-bottom: 0px;
}

.open .nav li a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #e66767;
  z-index: 99;
  transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}

.open .nav li a:hover::before {
  left: 100%;
}

.open .nav li a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: 2px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: #e66767;
  transition: all .3s;
  transition-delay: .4s;
}

.open .nav li a:hover::after {
  left: 0%;
}


/* Section menu styles */
.sections-menu {
  position: fixed;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.sections-menu .menu-point {
  width: 12px;
  height: 12px;
  display: block;
  margin: 15px 0;
  transition: all 0.4s ease;
  cursor: pointer;
  background-color: #e3e3e3;
}

.sections-menu .menu-point.active {
  background-color:#e15f41;
  border: 1.5px double;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
}

/* Section home styles */
#home {
  background-color: #e66767;
  color: #000;

}

/* Section about styles */
#about {
  background-color: #000;
  color: #e3e3e3;
}

/* Section work styles */
#work {
  background-color: #e66767;
  color: #000;
}

/* Section contact styles */
#contact {
  background-color: #000;
  color: #e3e3e3;
}
